.discord-msg {
  background-color: #36393f;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #dcddde;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: 22px;
  text-align: left;
  vertical-align: baseline;
  /* white-space: break-spaces; */
  padding: 10px;
  border-radius: 10px;
  display: block;
}
.discord-msg code {
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-indent: 0;
  color: rgb(185, 187, 190);
  border-radius: 4px;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  white-space: pre-wrap;
  background-color: #2f3136;
}
.discord-msg .theme-dark {
  --header-secondary: #b9bbbe;
  --interactive-muted: #4f545c;
}

.discord-msg .theme-light {
  --header-secondary: #4f5660;
  --interactive-muted: #c7ccd1;
}

.discord-msg .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  border-radius: 4px;
  color: var(--header-secondary);
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

.discord-msg .hljs-comment,
.discord-msg .hljs-quote {
  color: green;
}

.discord-msg .hljs-addition,
.discord-msg .hljs-keyword,
.discord-msg .hljs-selector-tag {
  color: #859900;
}

.discord-msg .hljs-doctag,
.discord-msg .hljs-literal,
.discord-msg .hljs-meta .hljs-meta-string,
.discord-msg .hljs-number,
.discord-msg .hljs-regexp,
.discord-msg .hljs-string {
  color: #2aa198;
}

.discord-msg .hljs-name,
.discord-msg .hljs-section,
.discord-msg .hljs-selector-class,
.discord-msg .hljs-selector-id,
.discord-msg .hljs-title {
  color: #268bd2;
}

.discord-msg .hljs-attr,
.discord-msg .hljs-attribute,
.discord-msg .hljs-class .hljs-title,
.discord-msg .hljs-template-variable,
.discord-msg .hljs-type,
.discord-msg .hljs-variable {
  color: #b58900;
}

.discord-msg .hljs-bullet,
.discord-msg .hljs-link,
.discord-msg .hljs-meta,
.discord-msg .hljs-meta .hljs-keyword,
.discord-msg .hljs-selector-attr,
.discord-msg .hljs-selector-pseudo,
.discord-msg .hljs-subst,
.discord-msg .hljs-symbol {
  color: #cb4b16;
}

.discord-msg .hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}

.discord-msg .hljs-formula {
  background: #073642;
}

.discord-msg .hljs-emphasis {
  font-style: italic;
}

.discord-msg .hljs-strong {
  font-weight: 700;
}
.discord-msg .discord-msg-block {
  width: 4px;
  /*height: 100%;*/
  border-radius: 4px;
  background-color: #4f545c;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /* position: absolute; */
}
.discord-msg-wrap {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1.375rem;
  white-space: break-spaces;
  word-wrap: break-word;
}
.discord-msg-wrap blockquote {
  /* display: block; */
  padding: 0 8px 0 12px;
  box-sizing: border-box;
  max-width: 90%;
  margin: 0;
}
discord-wrap {
  /**/
  background-color: #36393f;
  border: none;
  border-radius: 0px;
  display: inline-block;
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: 22px;
  text-align: left;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
discord-wrap username {
  display: inline;
  padding: 10px;
  font-weight: 500;
  vertical-align: center;
}
discord-wrap img {
  display: inline;
  max-height: 45px;
  max-width: 45px;
  min-width: 45px;
  min-height: 45px;
  border-radius: 100%;
  mask-border-width: 20px;
}
