.status-wrap {
  max-height: 30px;
  display: inline-block;
  /* float: right; */
  margin: auto;
  text-align: center;
  background-color: #36393f;
  padding: 5px 10px;
  border-radius: 15px;
  
  
}
.i {
  display: inline-block;
  width: 70%;
}
.wtext {
  font-size: 25px;
}
.circle-image {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.t-nav {
    
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10 20px;
    /*background: #0f1317;*/
    /*height: 40px;*/
}
.nav-b {
  padding: 15px 30px 15px 0px;
}
.flexbox {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer-basic {
  padding:40px 0;
  color:#f0f9ff;
  background-color:#141617;
  width: 100%!important;
  display: block; 
  overflow-x: hidden!important;
  /* transform: translate(-25%, 0%); */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  
}


.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
  text-decoration: none;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.list-inline-item {
  display: inline;
  font-size: 85%;
}

/* Credit to https://epicbootstrap.com/snippets/footer-basic */
html, body {
  overflow-x: hidden!important;
  -webkit-overflow-scrolling: touch!important;
}
.footer-wrapper {
  overflow-x: hidden!important;
}
.my-slides {
  display: none;
}
/*
:root { 
  --background: black!important;
  --background-body: black!important;
}
*/
